.App {
  text-align: center;
  color: #47525E;
  
}

.img2 {
  height: 100px;
  width: auto;
  position: fixed;
  top: 5px;
  right: 0;
  margin-right: 10px;
}

.img1 {
  width: 799px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: auto;  Half the height 
  margin-left: -400px;
  bottom: 20px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: -1;
}

@media(max-width: 900px) {
  .img1 {
  width: 799px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: auto; /* Half the height */
  margin-left: -400px;
  bottom: 0px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: -1;
  }
}


h1 {
  color: #47525E;
  margin-top: 25px;
}

body{
  font-family: 'Alegreya Sans SC', 500, sans-serif;
}

@media(max-width: 900px) {
  .font {
  padding-right: 70px;
  padding-left: 85px;
  color: #47525E;
  font-size: 18px;
  }
}

p {
  padding-right: 200px;
  padding-left: 200px;
  color: #47525E;
  font-size: 25px;
}

ul {
  margin-top: 0;
  text-align: center;
  margin-left: -45px;
  background-color: rgba(0, 171, 223, 0.55);
}

ul li{
  list-style-type: none;
  text-decoration: none;
  display: inline;
  padding-left: 5px; 
  padding-right: 5px;
}

.post-name-input{
  width: 70%;
  height: 15px;
  position: fixed;
  bottom: 165px;
  right: 15%;
}

.postBody{
  border: none;
}

.post-update-button{
  width: 50px;
  background-color: #3A6654;
}

.post-comment-button{
  width: 62px;
  background-color: #177AA6;
}

.post-editor-input{
  width: 70%;
  height: 50px;
  position: fixed;
  bottom: 90px;
  top: 643px;
  right: 15%;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0.4em;
  padding-bottom: 0.4em;
}

@media(max-width: 900px) {
.post-editor-input{
  width: 70%;
  height: 50px;
  position: fixed;
  bottom: 90px;
  top: 540px;
  right: 15%;
  }
}

.post-editor-button{
  bottom: 60px;
  right: 15%;
  width: 85px;
  position: fixed;
}

.post-delete-button{
  background-color: #DE3333;
  width: 50px;
}

.App-header {
  background-color: rgba(0, 171, 223, 0.55);
  height: 40px;
  padding: 20px;
  color: #47525E;
  text-align: center;
}

.App-title {
  font-family: 'Alegreya Sans SC', 500, sans-serif;
  margin: 0;
  font-size: 40px;
}

.down {
  margin-top: 75px;
}

button {
  background-color: #47525E;
  color: white;
  padding: 5px;
  width: 75px; 
  border-radius: 5px;
}

input {
  width: 50%;
  height: 20px;
  margin-bottom: 5px;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
}

footer {
  background-color: rgba(0, 171, 223, 0.55);
  height: 55px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center; 
  color: #47525E;
}

